<link rel="stylesheet" href="style.css">

<h6>Reestablecer contraseña</h6>

<input type="text" id="email" name="email" placeholder="Email"><br>
<input id="enter" type="submit" value="Enviar contraseña">
</form>


<img id="logo_login" src="/" alt="Logo Mascota Digital"><body class="login">
<form action="/login" method="post">
