<link rel="stylesheet" href="CSS/style.css">

<nav id="nav-left">Home</nav>
<nav id="nav-right">Perfil User</nav>

<h1 class="title">GALERIA MASCOTAS</h1>

import Card

<img src="logo_galery" alt="Logo Mascota Digital">/* Background */