<link rel="stylesheet" href="style.css">

String usernameEntered;
String passwordEntered;
usernameEntered = (JOptionPane.showInputDialog("Please enter the username"));
passwordEntered = (JOptionPane.showInputDialog("Please enter the password"));
<input type="text" id="email" name="email" placeholder="Email"><br>
<input type="password" id="password" name="password" placeholder="Password"><br>
<input id="enter" type="submit" value="Ingresar">
</form>




<p>¿Ya estás registrado?<a href="/forgetPass">Olvidé mi contraseña</a></p>

<img id="logo_login" src="/" alt="Logo Mascota Digital"><body class="login">
    <h2>Ingresar</h2>
    <form action="/login" method="post">
