<link rel="stylesheet" href="style.css">

<nav id="nav-left">Home</nav>
<nav id="nav-right">Perfil User</nav>

<input type="text" name="petName" placeholder="Nombre Mascota">
<input type="text" name="situation" placeholder="Situacion">
<input type="text" name="charac" placeholder="Caracteristica">

<input type="text" name="imagen" placeholder="Imagen mascota">

<button>Confirmar</button>