<link rel="stylesheet" href="style.css">

<nav id="nav-left">Home</nav>
<nav id="nav-right">Perfil User</nav>


<body class="userForm">
<h3>Mi Perfil</h3>

Mostrar email pero no se puede modificar
<input type="text" name="firstName" placeholder="Nombre">
<input type="text" name="lastName" placeholder="Apellido">
<input type="text" name="celPhone" placeholder="Teléfono">
<input type="date" name="birthDate" placeholder="Fecha de nacimiento">



<button>Confirmar</button>
</body>