<link rel="stylesheet" href="style.css">
<body class="userForm">
<h3>Formulario usuario</h3>

<input type="text" name="email" placeholder="Email">
<input type="text" name="firstName" placeholder="Nombre">
<input type="text" name="lastName" placeholder="Apellido">
<input type="text" name="celPhone" placeholder="Teléfono">
<input type="date" name="birthDate" placeholder="Fecha de nacimiento">

<label><input type="checkbox" id="checkCondition" value="first_checkbox"> Aceptación de condiciones de uso</label><br>

<button>Ir al catálogo</button>
</body>